* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html{
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	background: linear-gradient(
		145deg,
		rgb(34, 85, 194) 0%,
		rgb(35, 194, 194) 100%
	);
}

#root {
    padding: 3rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

h4,
h4 * {
	color: white;
}
